body {
    padding: 0;
    margin: 0;
}

.description{
    text-align: justify;
}

.listing-img{
    width: 100%;
    height: auto;
}

.card-img-top, .card-img-listing {
    width: 100%;    
    object-fit: cover;
}

.card-img-listing {
    height: 15rem;
}

.card-img-top{
    height: 15rem;
}

.category-hover:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* https://ordinarycoders.com/blog/article/codepen-bootstrap-card-hovers */

.card{
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}