body {
    padding: 0;
    margin: 0;
}

.description{
    text-align: justify;
}

.card-img-top, .card-img-listing {
    width: 100%;    
    object-fit: cover;
}

.card-img-listing {
    height: 15rem;
}

.card-img-top{
    height: 15rem;
}