body {
    padding: 0;
    margin: 0;
}

.description{
    text-align: justify;
}

.card-img-top, .card-img-listing {
    width: 100%;    
    object-fit: cover;
}

.card-img-listing {
    height: 15rem;
}

.card-img-top{
    height: 15rem;
}

.category-hover:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}