{% extends "auctions/layout.html" %}
{% load humanize %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-8">
        <div class="row">

            <div class="col-lg-5">
                    <img src="{% if image_url %}{{image_url}}{% else %}/static/auctions/images/default.jpg{% endif %}" class="img-fluid" alt="Image of {{title}}">
            </div>
            <div class="col-lg-7 border rounded-2 p-4">
                <h3>{{title}}</h3>
                <div class="mt-4">
                    <p><i>Created by: {{created}}</i></p>
                </div>
                <hr>
                <div class="mt-4 description">
                    {{description}}
                </div>
                <div class="mt-4 text-center">
                    <h4>Current Price : ${{price|intcomma}}</h4>
                    [ {{bid_count}} bids ]
                </div>
                <div class="mt-4 text-center">
                    {% if user.is_authenticated  %}
                        {% if user.id is not created.id %}
                            <form action="{% url 'bid' id %}" method="post">
                                {% csrf_token %}
                                <div class="input-group px-5">
                                    <span class="input-group-text">$</span>
                                    {% for field in bidform %}
                                        {{field}}
                                    {% endfor %}
                                </div>
                                <div class="d-grid gap-2 col-10 mx-auto mt-3">
                                    <input class="btn btn-primary" type="submit" value="Place bid">                  
                                </div>
                            </form>

                            <form action="{% url 'watchlistchange' id %}" method="post">
                                {% csrf_token %}
                                <div class="d-grid gap-2 col-10 mx-auto mt-2">
                                    {% if watch_list %}
                                    <input class="btn btn-outline-danger" type="submit" value="Remove from watchlist">
                                    {% else %}
                                    <input class="btn btn-outline-success" type="submit" value="Add to watchlist">
                                    {% endif %}
                                </div>
                            </form>

                        {% else %}
                            <form method="post">
                                <div class="d-grid gap-2 col-6 mx-auto mt-2">
                                    <input class="btn btn-danger" type="submit" value="Close bid">
                                </div>
                            </form>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'bid' id %}"> Sign in </a> to submit your bid
                    {% endif %}
                </div>
            </div>

        </div>

        <div class="row mt-4">
            <div class="col-12 p-0">

                <label class="form-label fs-4 mb-2" for="comments">Comments<span class="badge bg-secondary ms-2">{{commentscount}}</span></label>
                {% if user.is_authenticated %}
                <div class="mb-3">
                    
                    <form action="{% url 'comment' id %}" method="post">
                        {% csrf_token %}
                        {% for field in addcomments %}
                            {{field}}
                        {% endfor %}

                        <div class="text-end mt-3">
                            <input class="btn btn-primary" type="submit" value="Add comment">
                        </div>

                    </form>
                </div>
                {% endif %}
                
                <div class="container_fluid my-4">
                    {% for comment in comments %}

                        <div class="row border rounded bg-light p-4 my-2">
                            <div class="col-12 text-muted fw-bold d-flex justify-content-between">
                                <span class="text-primary">{{comment.user}} Says: </span>
                                <span><small>{{comment.time|naturaltime }}</small></span>
                            </div>
                            <div class="col-12 pt-3 text-muted"><small>{{comment.comment}}</small></div>
                        </div>

                    {% empty %}
                        <div class="row border rounded bg-light p-4 my-2">
                            <span class="text-muted">No comments yet.</span>
                        </div>
                    {% endfor %}
                </div>


                
            </div>
        </div>
    </div>
</div>
{% endblock %}