{% extends "auctions/layout.html" %}
{% load humanize %}

{% block title %}{{listing.title}}{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-8">
        <div class="row">

            <div class="col-lg-5">
                    <img src="{% if listing.image %}{{listing.image}}{% else %}/static/auctions/images/default.jpg{% endif %}" class="listing-img" alt="Image of {{listing.title}}">
            </div>
            <div class="col-lg-7 border rounded-2 p-4">
                <!-- Title -->
                <h3>{{listing.title}}</h3>
                <!-- Listing creator and Time -->
                <div class="mt-4 d-flex justify-content-between">
                    <small><p class="text-muted">Created by: {{listing.user}} | {{listing.time|naturaltime}}</p></small>
                </div>
                <hr>
                <!-- Listing Description -->
                <div class="mt-4 description text-muted">
                    <p>{{listing.description}}</p>
                </div>
                <hr>
                <!-- Price and Bid count -->
                <div class="mt-4 text-center">
                    <div>
                        <h4>Current Price : ${{price|intcomma}}</h4>
                        <small>{{bid_count}} bid(s)</small> 
                    </div>

                    <!-- if listing is active -->
                    {% if listing.active %}
                    
                        <!-- bidder status -->
                        {% if user_in_bids %}
                            {% if listing.highest_bid_user == request.user %}
                                <span class="badge bg-success">You are currently the highest bidder.</span>
                            {% else%}
                                <span class="badge bg-danger">You are no longer the highest bidder.</span>
                            {% endif %}
                        {% endif %}

                        <!-- Bidding and watchlist section -->
                        <div class="mt-4 text-center">

                            {% if user.is_authenticated  %}
                                {% if user.id is not listing.user.id %}
                                    <!-- Bidding form -->
                                    <form action="{% url 'bid' listing.id %}" method="post">
                                        {% csrf_token %}
                                        <div class="input-group px-5">
                                            <span class="input-group-text">$</span>
                                            {% for field in bidform %}
                                                {{field}}
                                            {% endfor %}
                                        </div>
                                        <div class="d-grid gap-2 col-10 mx-auto mt-3">
                                            <input class="btn btn-primary" type="submit" value="Place bid">                  
                                        </div>
                                    </form>

                                    <!-- Watchlist  -->
                                    <form action="{% url 'watchlistchange' listing.id %}" method="post">
                                        {% csrf_token %}
                                        <div class="d-grid gap-2 col-10 mx-auto mt-2">
                                            {% if watch_list %}
                                                <input class="btn btn-outline-danger" type="submit" value="Remove from watchlist">
                                            {% else %}
                                                <input class="btn btn-outline-success" type="submit" value="Add to watchlist">
                                            {% endif %}
                                        </div>
                                    </form>

                                {% else %}
                                    <form action="{% url 'close_auction' listing.id %}" method="post">
                                        {% csrf_token %}
                                        <div class="d-grid gap-2 col-6 mx-auto mt-2">
                                            <input class="btn btn-danger" type="submit" value="Close bid">
                                        </div>
                                    </form>
                                {% endif %}

                            {% else %}
                                <span class="text-danger"><a href="{% url 'bid' listing.id %}" class="text-danger"> Sign in </a> to submit your bid.</span>
                            {% endif %}
                        </div>
                

                    <!-- if listing is closed -->
                    {% else %}

                        <!-- if user has bids -->
                        {% if user_in_bids %}
                            {% if listing.highest_bid_user == request.user %}
                                <span class="badge bg-success">Congratulations! You have won the auction.</span>
                            {% else%}
                                <span class="badge bg-danger">Unfortunately, your bid was not successful. Thank you for participating.</span>
                            {% endif %}

                        <!-- if creator is the current user -->
                        {% elif listing.user == request.user %}
                            <span class="badge bg-success">Auction successfully closed.

                                <!-- if no bids -->
                                {% if listing.bidcount > 0 %}
                                    The winning is {{listing.highest_bid_user}}.
                                {% endif %}
                            </span>
                        {% endif %}
                    {% endif %}

                </div>

            </div>

        </div>

        <!-- Comments section -->
        <div class="row mt-4">
            <div class="col-12 p-0">

                <label class="form-label fs-4 mb-2" for="comments">Comments<span class="badge bg-secondary ms-2">{{commentscount}}</span></label>
                {% if user.is_authenticated %}
                    <div class="mb-3">
                        
                        <!-- Comments form -->
                        <form action="{% url 'comment' listing.id %}" method="post">
                            {% csrf_token %}
                            {% for field in addcomments %}
                                {{field}}
                            {% endfor %}

                            <div class="text-end mt-3">
                                <input class="btn btn-primary" type="submit" value="Add comment">
                            </div>
                        </form>
                    </div>
                {% else %}
                    <div class="my-3 text-center">
                        <span class="text-danger"><a href="{% url 'bid' listing.id %}" class="text-danger"> Sign in </a> to comment.</span>
                    </div>
                {% endif %}
                
                <!-- Comments -->
                <div class="container_fluid my-4">
                    {% for comment in comments %}

                        <div class="row border rounded bg-light p-4 my-2">
                            <div class="col-12 text-muted fw-bold d-flex justify-content-between">
                                <span class="text-primary">{{comment.user}} Says: </span>
                                <span><small>{{comment.time|naturaltime }}</small></span>
                            </div>
                            <div class="col-12 pt-3 text-muted"><small>{{comment.comment}}</small></div>
                        </div>

                    {% empty %}
                        <div class="row border rounded bg-light p-4 my-2">
                            <span class="text-muted">No comments yet.</span>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}